/* UTILITIES */

.hot {
  color: var(--c-hot);
}
.decorative {
  font-family: var(--font-display);
}

.eyebrow {
  font-family: var(--font-text);
  font-weight: var(--font-medium);
  font-size: var(--step-0);
  text-transform: uppercase;
  color: var(--c-hot);
  line-height: var(--lh-large);
}

/* KEYFRAMES FOR FONT SWAP */
@keyframes wipe-in {
  0% { 
    clip-path: inset(0 100% 0 0); /* Right edge collapsed to the left */
  } 
  100% { 
    clip-path: inset(0 0 0 0);    /* Fully visible */
  }
}

@keyframes wipe-out {
  0% { 
    clip-path: inset(0 0 0 0);    /* Fully visible */
  }
  100% { 
    clip-path: inset(0 0 0 100%); /* Left edge pushed all the way to the right */
  }
}

/* Visually hidden utility class for accessibility */

.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden-focusable:focus,
.visually-hidden-focusable:focus-within {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: var(--c-black);
  padding: var(--space-s) var(--space-m);
  margin-block-start: var(--space-s);
  border-radius: var(--r-medium);
  color: var(--c-super);
}