<!DOCTYPE html>
<html lang="en">
<head>
  <script type="importmap">
    {
      "imports": {
        "motion": "https://esm.sh/motion@12"
      }
    }
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>będzie.dobrze</title>
  
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="test">
  <div class="svg-background">
    {% include "herobg.svg" %}
  </div>
  
  <div class="content">
  </div>
  <div class="ball"></div>
</div>
  <script type="module" src="/js/main.js"></script>
</body>
</body>
</html>